
#pictures a{
    display: inline-block;
    width: 100%;
    padding-bottom: 100%;
    background-position: center;
    background-size: cover;
    text-align: right;
    position: relative;
}

#pictures a img{
    position: absolute;
    right: 0;
    color: #666666;
    width: 24px;
    opacity: 0.5;
}

body .pswp__button--share {
    display: none;
}

ul li .text-muted{
    min-width: 70px;
}

#store.btn-outline-secondary:hover{
    background-color: initial;
    color: #6c757d;
    border-color: #6c757d;
}