{% extends "base.html" %}

{% block container %}
    <div class="py-5 text-center">
        <h2 class="mx-auto">个人资料填写</h2>
        <p class="lead">请认真填写以下信息，我们将通过以下信息给你匹配对的人，我们不会泄露你的隐私，当你取消关注时，你的信息将从数据库中删除。</p>
    </div>
    <form method="post" enctype="multipart/form-data" target="_top">
        <h4 class="mb-3">个人资料</h4>
        <div class="form-group">
            <label for="formGroupExampleInput">姓名</label>
            <input type="text" class="form-control" name="name" placeholder="" required value="{{ profile.name }}">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">性别</label>
            <div class="custom-control custom-radio">
                <input id="credit" name="gender" type="radio" class="custom-control-input" checked=""
                       required="" value="男">
                <label class="custom-control-label" for="credit">男</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="gender" type="radio" class="custom-control-input" required="" value="女">
                <label class="custom-control-label" for="debit">女</label>
            </div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">年龄</label>
            <input type="text" class="form-control" name="age" placeholder="" required
                   value="{{ profile.age }}">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">身高</label>
            <input type="text" class="form-control" name="height" placeholder="" required
                   value="{{ profile.height }}">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">专业</label>
            <input type="text" class="form-control" name="major" placeholder="" required value="{{ profile.major }}">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">家乡</label>
            <select class="custom-select form-control" name="hometown">
                {% set x = ['北京', '天津', '河北省', '山西省', '内蒙古自治区', '辽宁省', '吉林省', '黑龙江省', '上海', '江苏省', '浙江省', '安徽省', '福建省', '江西省', '山东省', '河南省', '湖北省', '湖南省', '广东省', '广西壮族自治区', '海南省', '重庆', '四川省', '贵州省', '云南省', '西藏自治区', '陕西省', '甘肃省', '青海省', '宁夏回族自治区', '新疆维吾尔自治区'] %}
                {% for i in x %}
                    <option value="{{ i }} {% if profile.hometown == i %}selected{% endif %}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">兴趣</label>
            <input type="text" class="form-control" name="interest" placeholder="" required
                   value="{{ profile.interest }}">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">性格</label>
            <input type="text" class="form-control" name="character" placeholder="" required
                   value="{{ profile.personal }}">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">理想</label>
            <input type="text" class="form-control" name="ideal" placeholder="" required value="{{ profile.ideal }}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">用一段话来描述下自己吧，告诉我们你有多厉害</label>
            <textarea class="form-control" name="discription" rows="3">{{ profile.discription }}</textarea>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">生活照</label>
            <input type="file" accept="image/jpeg" id="imgInp" name="picture" hidden/>
            <div class="card">
                <div class="card-body py-2">
                    <div id="pictures" class="row">
                        {% for img in profile.images %}
                            <div class="col-4 p-2">
                                <a href="/static/picture/{{ img }}.jpg"
                                   style="background-image: url(/static/picture/{{ img }}.jpg)"></a>
                            </div>
                        {% endfor %}
                        <div id="triger_file" class="col-4 p-2">
                            <div class="border p-3">
                                <svg t="1565450558965" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                     xmlns="http://www.w3.org/2000/svg" p-id="2009" width="100%">
                                    <path d="M980.918297 554.852994 43.079656 554.852994c-23.657816 0-42.856064-19.197224-42.856064-42.8489 0-23.657816 19.198248-42.857087 42.856064-42.857087l937.838641 0c23.697725 0 42.859134 19.199271 42.859134 42.857087C1023.775384 535.655769 1004.616022 554.852994 980.918297 554.852994L980.918297 554.852994z"
                                          p-id="2010" fill="#9a9a9a"></path>
                                    <path d="M469.147518 980.917786 469.147518 43.079144c0-23.657816 19.197224-42.856064 42.8489-42.856064 23.657816 0 42.856064 19.198248 42.856064 42.856064l0 937.838641c0 23.697725-19.199271 42.859134-42.856064 42.859134C488.344742 1023.774873 469.147518 1004.615511 469.147518 980.917786L469.147518 980.917786z"
                                          p-id="2011" fill="#9a9a9a"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">联系方式，微信号或手机号</label>
            <input type="text" class="form-control" name="ideal" placeholder="" required value="{{ profile.wechat }}">
        </div>
        <hr class="mb-4">
        <h4 class="mb-3">心动条件</h4>
        <div class="form-group">
            <label for="formGroupExampleInput">年龄区间</label>
            <input type="text" class="form-control" name="age" placeholder="" required
                   value="{{ condition.age }}">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">对方至少多高</label>
            <input type="text" class="form-control" name="height" placeholder="" required
                   value="{{ condition.height }}">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">专业</label>
            <input type="text" class="form-control" name="major" placeholder="" required value="{{ condition.major }}">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">家乡</label>
            <select class="custom-select form-control" name="hometown">
                {% set x = ['北京', '天津', '河北省', '山西省', '内蒙古自治区', '辽宁省', '吉林省', '黑龙江省', '上海', '江苏省', '浙江省', '安徽省', '福建省', '江西省', '山东省', '河南省', '湖北省', '湖南省', '广东省', '广西壮族自治区', '海南省', '重庆', '四川省', '贵州省', '云南省', '西藏自治区', '陕西省', '甘肃省', '青海省', '宁夏回族自治区', '新疆维吾尔自治区'] %}
                {% for i in x %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">性格</label>
            <input type="text" class="form-control" name="character" placeholder="" required
                   value="{{ condition.personal }}">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">补充说明</label>
            <textarea class="form-control" name="addition" rows="3">{{ condition.addition }}</textarea>
        </div>
        <hr class="mb-4">
        <button type="submit" class="btn btn-primary btn-block">提交</button>
    </form>
    <!-- Content here -->
{% endblock %}

{% block script %}
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          img = new Image();
          img.onload = function () {
            $('<div class="col-4 p-2"><a href="#"></a></div>').insertBefore($('#triger_file')).children().css('background-image', 'url("' + this.src + '")').data('item', {
              w: this.width,
              h: this.height,
              src: this.src,
              msrc: this.src
            });
          };
          img.src = URL.createObjectURL(input.files[0]);
        }
      }

      $("#imgInp").change(function () {
        readURL(this);
      });

      $('#triger_file').click(function () {
        $("#imgInp").click()
      })

    </script>
{% endblock %}