{% extends "base.html" %}

{% block container %}
    <div class="py-5 text-center">
        <h2 class="mx-auto">匹配对象</h2>
        <p class="lead">如果你也满意的话，点击确认，你的信息会被推荐到对方，如果对方也满意，那此次匹配成功，我们将会互相推送联系方式。</p>
    </div>
    <h4 class="mb-3">基本资料</h4>
    <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">姓名</span>
            {{ profile.name }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">性别</span>
            {{ profile.gender }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">年龄</span>
            {{ profile.age }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">身高</span>
            {{ profile.height }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">专业</span>
            {{ profile.major }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">家乡</span>
            {{ profile.hometown }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">兴趣</span>
            {{ profile.interest }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">性格</span>
            {{ profile.personal }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">理想</span>
            {{ profile.ideal }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">自我介绍</span>
            {{ profile.discription }}
        </li>
    </ul>
    <h4 class="mb-3">心动条件</h4>
    <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">年龄区间</span>
            {{ condition.age }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">身高要求</span>
            {{ condition.height }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">专业</span>
            {{ condition.major }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">地域</span>
            {{ condition.hometown }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">性格</span>
            {{ condition.personal }}
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span class="text-muted">附加</span>
            {{ condition.addition }}
        </li>
    </ul>
    <h4 class="mb-3">照片</h4>
    <div class="card">
        <div class="card-body py-2">
            <div id="pictures" class="row">
                {% for img in profile.images %}
                    <div class="col-4 p-2">
                        <a href="/static/picture/{{ img }}.jpg" class="d-inline-block w-100" alt="" style="padding-top: 100%;background-position: center;background-size: cover;background-image: url(/static/picture/{{ img }}.jpg)"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <button type="submit" class="btn btn-primary btn-block">不错哟</button>
    <!-- Content here -->
{% endblock %}