{% extends "base.html" %}

{% block title %}好友推荐{% endblock %}
{% block container %}
  <div class="py-5 text-center d-none">
    <h2 class="mx-auto">好友推荐</h2>
    <p class="lead">
      如果你也满意的话，点击确认，你的信息会被推荐到对方，如果对方也满意，那此次匹配成功，我们将会互相推送联系方式。你的每一次选择将被我们记下来，我们将通过算法分析出你的喜好来，所以当你查看的次数越多，我们将对你越了解，未来推送也会越精准。请记住点击喜欢要慎重，所以每周可以为你推荐三个人，但是你只能给一个人点击喜欢。</p>
  </div>
  <h4 class="mb-3">基本资料</h4>
  <ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">姓名</span>
      {{ profile.name }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">性别</span>
      {{ profile.gender }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">年龄</span>
      {{ profile.age }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">身高</span>
      {{ profile.height }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">专业</span>
      {{ profile.major }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">家乡</span>
      {{ profile.hometown }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">兴趣</span>
      {{ profile.interest }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">性格</span>
      {{ profile.personal }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">理想</span>
      {{ profile.ideal }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">自我介绍</span>
      {{ profile.discription }}
    </li>
  </ul>
  <h4 class="mb-3">心动条件</h4>
  <ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">年龄区间</span>
      {{ condition.age }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">身高要求</span>
      {{ condition.height }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">专业</span>
      {{ condition.major }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">地域</span>
      {{ condition.hometown }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">性格</span>
      {{ condition.personal }}
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span class="text-muted">附加</span>
      {{ condition.addition }}
    </li>
  </ul>
  <h4 class="mb-3">照片</h4>
  <div class="card">
    <div class="card-body py-2">
      <div id="pictures" class="row">
        {% for img in profile.images %}
          <div class="col-4 p-2">
            <a href="/static/pictures/{{ img }}.jpg" alt=""
               style="background-image: url(/static/pictures/{{ img }}.jpg)"
            ></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      {% if like.store %}
        <button id="store" type="button" class="btn btn-secondary btn-block" data-stat=true>已收藏</button>
      {% else %}
        <button id="store" type="button" class="btn btn-outline-secondary btn-block">收藏</button>
      {% endif %}
    </div>
    <div class="col">
      {% if like.like %}
        <button id="like" type="button" class="btn btn-secondary btn-block" data-stat=true>已喜欢</button>
      {% else %}
        <button id="like" type="button" class="btn btn-danger btn-block">不错哟</button>
      {% endif %}
    </div>
  </div>
  <hr class="mt-4">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-primary btn-block">上一页</button>
    </div>
    <div class="col-3">
      <div class="text-center pt-2"><span class="text-primary">1</span>/3</div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-primary btn-block">下一页</button>
    </div>
  </div>
  <script>
    var uuid = "{{ like.uuid }}";
    $('#store').click(function () {
      $(this).attr('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">');
      var status = !$(this).data('stat');
      $.post('/recommend' + location.search, {action: 'store', value: status, uuid:uuid}, function () {
        $(this).data('stat', status).removeClass('btn-outline-secondary btn-secondary').attr('disabled', false).addClass(status&& 'btn-secondary'|| 'btn-outline-secondary').html(status && '已收藏' || '收藏').blur();
      }.bind(this));
    });
    $('#like').click(function () {
      $(this).attr('disabled', true).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">');
      var status = !$(this).data('stat');
      $.post('/recommend' + location.search, {action: 'like', value: status, uuid: uuid}, function () {
        $(this).data('stat', status).removeClass('btn-danger btn-secondary').attr('disabled', false).addClass(status && 'btn-secondary' || 'btn-danger').html(status && '已喜欢' || '不错哟').blur();
      }.bind(this));
    });
  </script>
  <!-- Content here -->
{% endblock %}